body {
  background-image:
  linear-gradient(#e80e0e, #d45f5f);
  font-family: sans-serif, Calibre, Arial;

}
h1 {
  text-align: center;
  font-family: sans-serif;Calibre, Arial;

}
#content {
  width: 500px;
  text-align: center;
  margin: auto;
}

.segment{
  border: 1px solid #000000;
  padding: 15px;
}

p{
  margin-top: 0px;
}

.segment img{
  max-width: 250px;
  float: left;
}
.segment .centerimg{
  float:none;
  padding-bottom: 10px;
}
